* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 24px;

  text-align: center;
  width: 240px;


  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

.calendarLink {
  display: block;
  margin: 0 0 8px;

  font-size: 20px;
  font-weight: 700;
}

.calendarForm {
  margin-bottom: 16px;
}

.filter {
  padding: 6px 12px;

  width: 100%;

  border-radius: 24px;
  outline: none;
  border: 1px solid #b4b3b3;
}

.filterBtn {
  margin: 0 0 18px;
  padding: 6px 12px;
  line-height: 17.5px;

  width: 100%;

  border-radius: 24px;
  outline: none;
  color: white;
  border: none;

  background: radial-gradient(circle, rgba(69, 222, 252, 1) 0%, rgba(49, 163, 185, 1) 100%);
}

.linksList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align-last: left;
}

.linksList li:first-child {
  font-size: 15px;
  font-weight: 700;
}

/* #region FORM */

.calendarForm {
  display: flex;
  flex-direction: column;
}


.calendarForm label {
  position: relative;

  height: 30px;
  width: 100%;
}

.calendarForm input {
  position: absolute;

  left: 0;
  right: 0
}

.calendarForm svg {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);

  height: 16px;
  width: 16px;

  color: #000;

  transition: color 0.3s;
}

.calendarForm:hover svg,
.calendarForm input:focus+button svg {
  color: lightblue
}




/* #endregion */