body {
  text-align: center;
  width: 200px;
}

button {
  width: 100%;
  color: white;
  background-color: gray;
  border-width: 0px;
  border-radius: 20px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}

.calendar {
  text-decoration: none;
}

.hammer {
  background-color: rgb(235, 183, 183);
}

.schlau {
  background-color: rgb(181, 228, 181);
}